.content{
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content > .rettangolo{
 
 height: auto;
  width: 70%;

}
.titolone{
  width: 80%;
 display: flex;
 justify-content: center;
 align-items: center;
}
.homepageFirst{
  background: radial-gradient(ellipse at top, #0E1F60, transparent),
            radial-gradient(ellipse at bottom, #155985, transparent);
}