.featureHomepageComplete{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap-reverse;
    width: 100%;
    
}

.featureHomepageComplete > .imageContent{
    min-width: 20rem;
    width:40%;
    border-radius: 1rem;
    
    
  
}
.featureHomepageComplete > .feature{
    min-width: 30rem;
    width:40%;
    
}