.featureHomepageComplete{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
    width: 100%;
}

.featureHomepageComplete > .imageContent{
    min-width: 20rem;
    width:40%;
    
  
}
.featureHomepageComplete > .feature{
    min-width: 30rem;
    width:40%;
    
}