.playlistcard{
    background: #242424;
    display: flex;
    width: 30%;
    justify-content: flex-start;
    align-items: center;
    min-width: 20rem;
    max-width: 22rem;
    margin: 2rem;
    border-radius: 0.5rem;
}

.playlistcard > .image{
    margin: 2rem;
    width: 6rem;
    height: 6rem;
    border-radius: 0.3rem;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    background-image: url('../images/moviePlaceholder.png');
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: aquamarine;
    overflow: hidden;
}

.playlistcard > .image > .locandina{
    width: 3rem;
    height: 4rem;
    padding: 0;
    
}