
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0E1F60;
  color: #fff; /*tutti i componenti del body avranno testo bianco. Se cambio colore da css di un componente sovrascrive*/

  /*test casereccio*/
  background: linear-gradient(#111 5%, rgba(14,31,96,1) 50%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


html.has-scroll-smooth  /* Risolve bug locomotive.js*/
{
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;  
}